<h1> Welcome home</h1>
<header class="header">
  <div class="header-text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Rumbler</span>
      <span class="heading-primary-sub">comments, share, like pics</span>
    </h1>

    <a href="login" class="btn btn-white btn-animated">Already have acount</a>
    <a href="signup" class="btn btn-white btn-animated">Sign Up</a>
  </div>
</header>
