<h1 class="center">Rumblr</h1>

<div class="signup-box">
  <img src="login.png" >
  <h1 class= "signup-header">Sign Up</h1>
  <form action="/signup" method="POST">
    <p class="signup-para">First Name</p>
    <input class="input-signup"type="text" name="user[first_name]" placeholder="Enter First Name">
    <p class="signup-para">Last Name</p>
    <input class="input-signup" type="text" name="user[last_name]" placeholder="Enter last Name">
    <p class="signup-para">birthday</p>
    <input class="input-signup" type="date" name="user[birthday]" placeholder="">

    <p class="signup-para">Email</p>
    <input class="input-signup" type="text" name="user[email]" placeholder="Enter Email">
    <p class="signup-para">Password</p>
    <input class="input-signup" type="password" name="user[password]" placeholder="Enter Password">
    <input class="sumbit-btn" type="submit" name="submit">
  </form>
  <% if flash[:error] %>
  <ol>
    <% flash[:error].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ol>
  <% end %>



</div>
