<h1>tumblr</h1>
<% if flash[:error] %>
    <ol>
        <% flash[:error].each do |error| %>
        <li><%= error %></li>
        <% end %>
    </ol>
<% end %>

<h1 class ="center">Sign Up</h1>
<form class ="center myForm"action="/signup" method="POST">
    <input name="user[first_name]" type="text" placeholder="first name"><br>
    <input name="user[last_name]" type="text" placeholder="last name"><br>
    <input name="user[email]" type="email" placeholder="Enter Email"><br>
    <input name="user[password]" type="password" placeholder="password"><br>
    <input type="submit" value="Submit">
</form>
