<h1>Sign Up</h1>
<form action="/signup" method="POST">
    <input name="user[name]" type="text" placeholder="Username"><br>
    <input name="user[email]" type="email" placeholder="Enter Email"><br>
    <input name="user[password]" type="password" placeholder="password"><br>
    <input type="submit" value="Submit">
</form>
