<form action='/upload' method='post' accept-charset="utf-8" enctype="multipart/form-data">
  <label for='image_file'>Image</label>
  <input type="file" name="image[file]" id="image_file" />
  <button type='submit'>Save</button>
</form>
