<h1 class="center">tumblr</h1>
<div class="login-box">
  <img  src="login.png">
  <h1 class= "login-header">Enter variation Code</h1>
<form action='/variationCode' method='post'>
    <p class="login-pargra" >Code:</p>
    <input class="input-login" type= "text" name="code" placeholder= "variation code">
    <input class="sumbit-btn"type="submit" name="submit">
  </form>
</div>
