<h1>tumblr</h1>
<h1  class ="center" >Login</h1>
<form  class ="center myForm" action='/variationCode' method='post'>
  <input name= "code" type= "text" placeholder= "variation code"><br>
  <input type= "submit" value= "submit">
</form>
